body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 2000px;
}

a {
  color: #00B7FF;
}

#loginForm {
  width: 30%
}

.navbar-static-top {
  margin-bottom: 19px;
}

.notification-container {
  position: absolute;
  top: 25px;
  width: 100%;
  z-index: 99999;
}

.alert {
  width: 50%;
  margin: 0 auto;
}

#gameBoard table {
  border: 2px solid gray;
  margin: 0 auto;
  border-collapse: collapse;
  background: black;
}

#gameBoard td {
  width: 70px;
  height: 70px;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: white;
}

.checker {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border-width: 4px;
  margin: 0 auto;
  border-style: solid;
  border-color: black;
  text-align: center;
}

.checker.black {
  background-color: black
}

.checker.king {
  height: 60px;
  width: 60px;
  border-width: 10px;
  border-color: #4286f4;
}

.log.error {
  color: red;
}

.log.info {
  color: green;
}