body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 2000px;
}

a {
  color: #00B7FF;
}

#loginForm {
  width: 30%
}

.navbar-static-top {
  margin-bottom: 19px;
}

.notification-container {
  position: absolute;
  top: 25px;
  width: 100%;
  z-index: 99999;
}

.alert {
  width: 50%;
  margin: 0 auto;
}